{% if not PLUGINS or 'seo' not in PLUGINS %}
  {% if OG_LOCALE %}
    {% set default_locale = OG_LOCALE %}
  {% else %}
    {% set default_locale = 'en_US' %}
  {% endif %}
  <meta property="og:site_name" content="{{ SITENAME }}"/>
  <meta property="og:type" content="blog"/>
  <meta property="og:title" content="{{ SITENAME }}"/>
  <meta property="og:description" content="{{ SITEDESCRIPTION }}"/>
  <meta property="og:locale" content="{{ default_locale }}"/>

  {% if page %}
  <meta property="og:url" content="{{ SITEURL }}/{{ page.url }}">
  {% elif article %}
  <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}">
  {% elif page_name == 'index' and not articles_previous_page %}
  <meta property="og:url" content="{{ SITEURL }}">
  {% elif author or category or tag or page_name == 'index' %}
  <meta property="og:url" content="{{ SITEURL }}/{{ articles_page.url }}">
  {% else %}
  <meta property="og:url" content="{{ SITEURL }}/{{ output_file }}">
  {% endif %}
  {% if SITELOGO %}
  <meta property="og:image" content="{{ SITELOGO }}">
  {% endif %}
{% endif %}
