{% if article.sponsoredpost %}
<div class="admonition tip">
    <p class="admonition-title"></p>
    <p>
        Portions of this post may be sponsored or contain affiliate links. Sponsors and affiliates have no input into
        the content of this post and my words are my own. My full <a
            href="https://andrewwegner.com/sponsored-content">Ethics Statement</a> and list of exactly what has been
        sponsored or placed behind an affiliate link is available.
    </p>
</div>
{% endif %}