<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Organization",
    "@id": "https://andrewwegner.com/#publisher",
    "name": "Ponderings of an Andy",
    "alternateName": "Andrew Wegner",
    "url": "https://andrewwegner.com/",
    "logo": {
        "@type": "ImageObject",
        "@id": "https://andrewwegner.com/#logo",
        "url": "https://andrewwegner.com/theme/img/logo-512.png",
        "contentUrl": "https://andrewwegner.com/theme/img/logo-512.png",
        "width": 512,
        "height": 512,
        "caption": "Ponderings of an Andy"
    },
    "image": {
        "@id": "https://andrewwegner.com/#logo"
    },
    "founder": {
        "@id": "https://andrewwegner.com/#andrew"
    },
    "sameAs": [
        "https://www.linkedin.com/in/andrew-wegner/",
        "https://github.com/AWegnerGitHub/",
        "https://stackoverflow.com/users/189134/andy"
    ]
}
</script>