<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Person",
    "@id": "https://andrewwegner.com/#andrew",
    "name": "Andrew Wegner",
    "givenName": "Andrew",
    "familyName": "Wegner",
    "alternateName": [
        "Andy Wegner"
    ],
    "jobTitle": "Vice President Product, Strategic Software",
    "description": "Engineering Leader across industries",
    "worksFor": {
        "@type": "Organization",
        "name": "Zayo",
        "sameAs": "https://www.zayo.com/"
    },
    "url": "https://www.andrewwegner.com/",
    "email": "mailto:blog.feedback@andrewwegner.com",
    "image": "https://www.andrewwegner.com/images/wegner_headshot.png",
    "sameAs": [
        "https://www.andrewwegner.com/",
        "https://www.andrewwegner.com/about/",
        "https://www.andrewwegner.com/resume.pdf",
        "https://www.linkedin.com/in/andrew-wegner/",
        "https://github.com/AWegnerGitHub/",
        "https://stackoverflow.com/users/189134/andy",
        "https://keybase.io/awegner"
    ]
}
</script>