<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "@id": "https://andrewwegner.com/#andrew",
    "name": "Andrew Wegner",
    "alternateName": [
        "Andy Wegner"
    ],
    "jobTitle": "Vice President Product, Strategic Software",
    "description": "Engineering Leader across industries",
    "hasOccupation": {
      "@type": "EmployeeRole",
      "roleName": "Vice President Product, Strategic Software",
      "startDate": "2024-09"
    },
    "worksFor": {
      "@type": "Organization",
      "name": "Zayo",
      "sameAs": "https://www.zayo.com/"
    },
    "nationality": {
      "@type": "Country",
      "name": "United States of America",
      "sameAs": [
        "https://en.wikipedia.org/wiki/United_States",
        "https://www.wikidata.org/wiki/Q30"
      ]
    },
    "url": "https://www.andrewwegner.com/",
    "email": "mailto:blog.feedback@andrewwegner.com",
    "image": "https://www.andrewwegner.com/images/wegner_headshot.png",
    "gender": "male",
    "address": {
      "@type": "PostalAddress",
      "addressCountry": "USA",
      "addressRegion": "IL"
    },
    "homeLocation" : {
      "@type": "PostalAddress",
      "addressCountry": "USA",
      "addressRegion": "IL"
    },
    "alumniOf": [
        {
          "@type": "CollegeOrUniversity",
          "name": "Iowa State University",
          "url": "https://www.iastate.edu/",
          "sameAs": [
            "https://en.wikipedia.org/wiki/Iowa_State_University",
            "https://www.wikidata.org/wiki/Q1136919"
          ]
        },
        {
          "@type": "CollegeOrUniversity",
          "name": "Northern Illinois University",
          "url": "https://www.niu.edu/",
          "sameAs": [
            "https://en.wikipedia.org/wiki/Northern_Illinois_University",
            "https://www.wikidata.org/wiki/Q1191344"
          ]
        },
        {
          "@type": "Organization",
          "name": "FleetOps aka Class8",
          "sameAs": "https://www.class8.com/",
          "employee": {
            "@type": "Person",
            "hasOccupation": {
              "@type": "EmployeeRole",
              "roleName": "Director of Engineering",
              "startDate": "2022-10",
              "endDate": "2024-08"
            },
            "sameAs": "https://andrewwegner.com/#andrew"
          }
        },
        {
          "@type": "Organization",
          "name": "Woven Teams",
          "sameAs": "https://www.woventeams.com/",
          "employee": {
            "@type": "Person",
            "hasOccupation": {
              "@type": "EmployeeRole",
              "roleName": "Director of Engineering",
              "startDate": "2022-04",
              "endDate": "2022-08"
            },
            "sameAs": "https://andrewwegner.com/#andrew"
          }
        },
        {
          "@type": "Organization",
          "name": "PacketFabric",
          "sameAs": "https://www.packetfabric.com/",
          "employee": {
            "@type": "Person",
            "hasOccupation": {
              "@type": "EmployeeRole",
              "roleName": "Vice President of Software Engineering",
              "startDate": "2017-08",
              "endDate": "2022-04"
            },
            "sameAs": "https://andrewwegner.com/#andrew"
          }
        },
        {
          "@type": "Organization",
          "name": "Caterpillar",
          "sameAs": "https://www.caterpillar.com/",
          "employee": {
            "@type": "Person",
            "hasOccupation": {
              "@type": "EmployeeRole",
              "roleName": "Application Lead",
              "startDate": "2011-08",
              "endDate": "2017-07"
            },
            "sameAs": "https://andrewwegner.com/#andrew"
          }
        },
        {
          "@type": "Organization",
          "name": "White Square Media",
          "employee": {
            "@type": "Person",
            "hasOccupation": {
              "@type": "EmployeeRole",
              "roleName": "Fractional Chief Technology Officer (fCTO)",
              "startDate": "2011-02",
              "endDate": "2012-06"
            },
            "sameAs": "https://andrewwegner.com/#andrew"
          }
        },
        {
          "@type": "Organization",
          "name": "Caterpillar Logistics Services",
          "sameAs": "https://www.caterpillar.com/",
          "employee": {
            "@type": "Person",
            "hasOccupation": {
              "@type": "EmployeeRole",
              "roleName": "IT Analyst",
              "startDate": "2007-06",
              "endDate": "2011-08"
            },
            "sameAs": "https://andrewwegner.com/#andrew"
          }
        },
        {
          "@type": "Organization",
          "name": "NIU Residential Technology",
          "sameAs": "https://www.niu.edu/",
          "employee": {
            "@type": "Person",
            "hasOccupation": {
              "@type": "EmployeeRole",
              "roleName": "Helpdesk Manager",
              "startDate": "2004-01",
              "endDate": "2007-05"
            },
            "sameAs": "https://andrewwegner.com/#andrew"
          }
        }
    ],
    "hasCredential": [{
      "@type": "EducationalOccupationalCredential",
      "credentialCategory": "degree",
      "educationalLevel": "Master of Engineering",
      "dateCreated": "2013-05",
      "about": {
        "@type": "EducationalOccupationalProgram",
        "name": "Information Assurance"
      },
      "recognizedBy": {
        "@type": "CollegeOrUniversity",
        "name": "Iowa State University",
        "url": "https://www.iastate.edu/",
        "sameAs": [
          "https://en.wikipedia.org/wiki/Iowa_State_University",
          "https://www.wikidata.org/wiki/Q1136919"
        ]
      }
    },
    {
        "@type": "EducationalOccupationalCredential",
        "credentialCategory": "degree",
        "educationalLevel": "Bachelor of Science",
        "dateCreated": "2007-05",
        "about": {
          "@type": "EducationalOccupationalProgram",
          "name": "Computer Science"
        },
        "recognizedBy": {
          "@type": "CollegeOrUniversity",
          "name": "Northern Illinois University",
          "url": "https://www.niu.edu/",
          "sameAs": [
            "https://en.wikipedia.org/wiki/Northern_Illinois_University",
            "https://www.wikidata.org/wiki/Q1191344"
          ]
        }
    },
    {
      "@type": "EducationalOccupationalCredential",
      "credentialCategory": "degree",
      "educationalLevel": "Minor in Psychology",
      "dateCreated": "2007-05",
      "about": {
        "@type": "EducationalOccupationalProgram",
        "name": "Minor in Psychology"
      },
      "recognizedBy": {
        "@type": "CollegeOrUniversity",
        "name": "Northern Illinois University",
        "url": "https://www.niu.edu/",
        "sameAs": [
          "https://en.wikipedia.org/wiki/Northern_Illinois_University",
          "https://www.wikidata.org/wiki/Q1191344"
        ]
      }
  }
    ],
    "sameAs": [
      "https://www.andrewwegner.com/",
      "https://www.andrewwegner.com/about/",
      "https://www.andrewwegner.com/resume.pdf",
      "https://www.linkedin.com/in/andrew-wegner/",
      "https://github.com/AWegnerGitHub/",
      "https://stackoverflow.com/users/189134/andy",
      "https://keybase.io/awegner"
    ],
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://www.andrewwegner.com/about/"
   }
}
</script>