{% if article.provider is not defined %}
{% set provider = "Udemy" %}
{% else %}
{% set provider = article.provider|string %}
{% endif %}

<script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Review",
      "name": "{{ article.revieweditem|e }}",
      "headline": "{{ article.title|striptags }}",
      "url": "{{ SITEURL }}/{{ article.url }}",
      "dateCreated": "{{ article.date }}",
      "datePublished": "{{ article.date }}",
      "dateModified": "{{ article.modified }}",
      "copyrightYear": "{{ article.date.strftime('%Y') }}",
      "copyrightHolder": {
        "@type": "Person",
        "name": "{{ article.author.name }}",
        "url": "{{ SITEURL }}"
      },
      "itemReviewed": {
        "@type": "{{ REVIEW_PROVIDERS[provider]['itemType'] }}",
        "name": "{{ article.revieweditem|e }}",
        "description": "{{ article.revieweditem|e }}"
        {% if REVIEW_PROVIDERS[provider]['itemType'] == "Product" %}
        ,
        "review": {
          "@type": "Review",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "{{ article.score }}",
            "bestRating": "10"
          },
          "author": {
            "@type": "Person",
            "name": "{{ article.author }}",
            "sameAs": [
              "https://www.andrewwegner.com/about/"
              ],
            "mainEntityOfPage": {
              "@type": "WebPage",
              "@id": "https://www.andrewwegner.com/about/"
              }
          }
        }
        {% elif REVIEW_PROVIDERS[provider]['itemType'] == "Course" %}
        ,
        "provider": {
          "@type": "{{ REVIEW_PROVIDERS[provider]['type'] }}",
          "name": "{{ REVIEW_PROVIDERS[provider]['name'] }}",
          "sameAs": "{{ REVIEW_PROVIDERS[provider]['sameAs'] }}"
        },
        "hasCourseInstance": {
          "@type": "CourseInstance",
          "courseMode": [
            "distance learning",
            "Online"
          ]
        },
        "offers": {
            "@type": "Offer",
            "highPrice": "{{ article.price }}",
            "lowPrice": "{{ article.saleprice }}",
            "priceCurrency": "USD"
          }
        }
        {% endif %}
      },
      "reviewRating": {
        "@type": "Rating",
        "ratingValue": "{{ article.score }}",
        "bestRating": "10",
        "worstRating": "0"

      },
      "author": {
        "@type": "Person",
        "name": "{{ article.author }}",
        "sameAs": [
          "https://www.andrewwegner.com/about/"
          ],
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "https://www.andrewwegner.com/about/"
          }
      },
      "publisher": {
        "@type": "Person",
        "name": "{{ article.author }}",
        "sameAs": [
          "https://www.andrewwegner.com/about/"
          ]
      },
      "provider": {
        "@type": "{{ REVIEW_PROVIDERS[provider]['type'] }}",
        "name": "{{ REVIEW_PROVIDERS[provider]['name'] }}",
        "sameAs": "{{ REVIEW_PROVIDERS[provider]['sameAs'] }}"
      },
      "mainEntityOfPage": "True"
    }
    </script>
